/* Font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* ========= PROJECT VARIABLES =========== */

:root {
  /* Primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Fonts */
  --red-hat: "Red Hat Display", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--red-hat);
  width: 100vw;
  min-height: 100vh;
  background: url(/images/pattern-background-desktop.svg) var(--pale-blue)
    center 0/100% 50% no-repeat;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: #fff;
  max-width: 28rem;
  margin: 0 1.5rem;
  text-align: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.image-wrapper__image {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.main__heading {
  font-weight: 900;
  color: var(--dark-blue);
}

.main__description {
  color: var(--desaturated-blue);
  line-height: 1.5;
}

.main__item-description {
  padding: 1rem 3rem;
}

.main__plan-select {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 1fr;
  place-items: center;
  background-color: var(--very-pale-blue);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
}

.plan-select__description {
  margin-left: 1rem;
  grid-column: 2/4;
  justify-self: flex-start;
  text-align: left;
}

.description__heading {
  color: var(--dark-blue);
  display: inline-block;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.description__price {
  color: var(--desaturated-blue);
  font-weight: 500;
}

.plan-select__button {
  text-decoration: none;
  color: var(--bright-blue);
  transition: color 0.5s ease;
}

.plan-select__button:hover {
  text-decoration: underline;
}

.main__payment-procedure {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  background: var(--bright-blue);
  color: #fff;
  font-weight: 700;
  transition: background 0.5s ease;
}

.main__payment-procedure:hover {
  background: hsl(245, 83%, 68%);
}

.main__cancel-procedure {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--desaturated-blue);
}

.attribution {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 500px) {
  
  body {
    background-image: url(/images/pattern-background-mobile.svg);
  }
  .main__heading {
    font-size: 2rem;
  }

  .main__item-description {
    padding: 1rem 1.5rem;
  }
}
